body {
  font-family: Arial, sans-serif;
  background-color: #4F9ADB;
  margin: 0;
  padding: 0;
}

.productos-section {
  text-align: center;
  padding: 40px 20px;
}


h2 {
      color: blue;
      text-align: center;
      transition: all 0.3s ease; /* hace que el cambio sea suave */
    }

    h2:hover {
      color: red;          /* cambia el color */
      transform: scale(1.3); /* agranda el tamaño */
    }

.productos {
  display: flex;
  justify-content: center;  /* Centra las tarjetas */
  align-items: flex-start;
  gap: 20px;                /* Espacio entre tarjetas */
  flex-wrap: wrap;          /* Permite que bajen si no caben */
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h3 {
  margin: 10px 0 5px;
  color: #333;
}

.card p {
  color: #555;
  font-size: 0.9em;
  margin-bottom: 15px;
}

.card button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.card button:hover {
  background-color: #217dbb;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
 .imagen{
         width:300px;
         transition: tranfom 0.4s;
}
.imagen:hover{
         transform: scale(1.2);
}
 
